:root {
  --clr-pmry-violet: hsl(257, 40%, 49%);
  --clr-pmry-sfMagenta: hsl(300, 69%, 71%);
  --font-poppins-400: 400 1rem/1.5 "Poppins", sans-serif;
  --font-poppins-600: 600 1.5rem/1.5 "Poppins", sans-serif;
  --font-opensans-400: 400 1rem/1.5 "Open Sans", sans-serif;
}
.color-pmry-violet {
  color: var(--clr-pmry-violet);
}
.color-pmry-sfMagenta {
  color: var(--clr-pmry-sfMagenta);
}
.font-poppins-400 {
  font: var(--font-poppins-400);
}
.font-poppins-600 {
  font: var(--font-poppins-600);
  text-transform: capitalize;
}
.font-opensans-400 {
  font: var(--font-opensans-400);
}
.button {
  margin: 1.875rem;
  display: block;
  padding: 0.9375rem 3.75rem;
  border-radius: 3.125rem;
  color: var(--clr-pmry-violet);
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.button:hover {
  color: white;
  background-color: var(--clr-pmry-sfMagenta);
}
